testWorkflows/CustomJS_Smoke_Test.json
{
    "name": "PdfToolkit Unified Smoke Test",
    "nodes": [
        {
            "parameters": {
                "resource": "convert",
                "operation": "pdfToText",
                "inputType": "binary",
                "binaryPropertyName": "data"
            },
            "type": "CUSTOM.pdfToolkit",
            "typeVersion": 1,
            "position": [
                0,
                464
            ],
            "id": "c3fa76fc-81fd-45fe-bcb1-a4269a384fd4",
            "name": "Convert PDF into Text",
            "credentials": {
                "customJsApi": {
                    "id": "BFGbk0a71fKWY967",
                    "name": "CustomJS account"
                }
            }
        },
        {
            "parameters": {
                "resource": "convert",
                "operation": "htmlToPdf",
                "html": "<h1>Hello World</h1>"
            },
            "type": "CUSTOM.pdfToolkit",
            "typeVersion": 1,
            "position": [
                -336,
                512
            ],
            "id": "6546cac6-634e-46f0-a58a-593de0ad7ed3",
            "name": "HTML to PDF",
            "credentials": {
                "customJsApi": {
                    "id": "BFGbk0a71fKWY967",
                    "name": "CustomJS account"
                }
            }
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -1184,
                848
            ],
            "id": "a2ab28c3-dd3a-4056-95c8-d9eab78fb781",
            "name": "When clicking ‘Test workflow’"
        },
        {
            "parameters": {
                "resource": "convert",
                "operation": "pdfToPng",
                "inputType": "binary",
                "binaryPropertyName": "data"
            },
            "type": "CUSTOM.pdfToolkit",
            "typeVersion": 1,
            "position": [
                0,
                640
            ],
            "id": "b4809cb1-f900-4e86-883b-5b994f675f0a",
            "name": "Convert PDF into PNG",
            "credentials": {
                "customJsApi": {
                    "id": "BFGbk0a71fKWY967",
                    "name": "CustomJS account"
                }
            }
        },
        {
            "parameters": {
                "resource": "pdf",
                "operation": "extractPages",
                "inputType": "binary",
                "binaryPropertyName": "data",
                "pageRange": "1"
            },
            "type": "CUSTOM.pdfToolkit",
            "typeVersion": 1,
            "position": [
                0,
                800
            ],
            "id": "55deab45-08a7-4b23-9ed9-0f537ffb5384",
            "name": "Extract Pages From PDF",
            "credentials": {
                "customJsApi": {
                    "id": "BFGbk0a71fKWY967",
                    "name": "CustomJS account"
                }
            }
        },
        {
            "parameters": {
                "resource": "pdf",
                "operation": "compress",
                "inputType": "binary",
                "binaryPropertyName": "data"
            },
            "type": "CUSTOM.pdfToolkit",
            "typeVersion": 1,
            "position": [
                0,
                272
            ],
            "id": "a235cc23-e6ff-43ad-bdd8-0f3464a1274f",
            "name": "Compress PDF file",
            "credentials": {
                "customJsApi": {
                    "id": "BFGbk0a71fKWY967",
                    "name": "CustomJS account"
                }
            }
        },
        {
            "parameters": {
                "resource": "convert",
                "operation": "pdfToText",
                "inputType": "url",
                "url": "={{ $json.path }}"
            },
            "type": "CUSTOM.pdfToolkit",
            "typeVersion": 1,
            "position": [
                0,
                1312
            ],
            "id": "a7548403-a8b3-4e93-8f22-81c39cb795bb",
            "name": "Convert PDF into Text1",
            "credentials": {
                "customJsApi": {
                    "id": "BFGbk0a71fKWY967",
                    "name": "CustomJS account"
                }
            }
        },
        {
            "parameters": {
                "resource": "convert",
                "operation": "pdfToPng",
                "inputType": "url",
                "url": "={{ $json.path }}"
            },
            "type": "CUSTOM.pdfToolkit",
            "typeVersion": 1,
            "position": [
                0,
                1488
            ],
            "id": "39806c0a-a369-4fc5-a42b-7fdae0fdc2e3",
            "name": "Convert PDF into PNG1",
            "credentials": {
                "customJsApi": {
                    "id": "BFGbk0a71fKWY967",
                    "name": "CustomJS account"
                }
            }
        },
        {
            "parameters": {
                "resource": "pdf",
                "operation": "extractPages",
                "inputType": "url",
                "url": "={{ $json.path }}",
                "pageRange": "1"
            },
            "type": "CUSTOM.pdfToolkit",
            "typeVersion": 1,
            "position": [
                0,
                1648
            ],
            "id": "e8be975e-2d3f-4c22-a51f-3fe6937c6ed1",
            "name": "Extract Pages From PDF1",
            "credentials": {
                "customJsApi": {
                    "id": "BFGbk0a71fKWY967",
                    "name": "CustomJS account"
                }
            }
        },
        {
            "parameters": {
                "resource": "pdf",
                "operation": "compress",
                "inputType": "url",
                "url": "={{ $json.path }}"
            },
            "type": "CUSTOM.pdfToolkit",
            "typeVersion": 1,
            "position": [
                0,
                1152
            ],
            "id": "70a2c152-de80-4f19-9235-e7e6db7c1e34",
            "name": "Compress PDF file1",
            "credentials": {
                "customJsApi": {
                    "id": "BFGbk0a71fKWY967",
                    "name": "CustomJS account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "return {\"json\": {\"path\": \"https://www.nlbk.niedersachsen.de/download/164891/Test-pdf_3.pdf.pdf\"}};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -544,
                1520
            ],
            "id": "0f5b4fb2-0737-4293-8859-19db093d1663",
            "name": "Code"
        },
        {
            "parameters": {
                "resource": "web",
                "operation": "screenshot",
                "url": "https://www.google.de"
            },
            "type": "CUSTOM.pdfToolkit",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "id": "d0f8932f-42c4-4069-8daa-bc33707c6f66",
            "name": "Take a screenshot of a website",
            "credentials": {
                "customJsApi": {
                    "id": "BFGbk0a71fKWY967",
                    "name": "CustomJS account"
                }
            }
        },
        {
            "parameters": {
                "resource": "pdf",
                "operation": "merge",
                "inputType": "binary",
                "binaryPropertyName": "data"
            },
            "type": "CUSTOM.pdfToolkit",
            "typeVersion": 1,
            "position": [
                640,
                544
            ],
            "id": "69a138a6-5c57-428a-935a-bb470f12ca77",
            "name": "Merge PDF",
            "credentials": {
                "customJsApi": {
                    "id": "BFGbk0a71fKWY967",
                    "name": "CustomJS account"
                }
            }
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.1,
            "position": [
                400,
                544
            ],
            "id": "540ab015-c01a-41dd-af75-c91cadb95b25",
            "name": "Merge"
        },
        {
            "parameters": {
                "jsCode": "return {\"json\": {\"paths\": [\"https://www.nlbk.niedersachsen.de/download/164891/Test-pdf_3.pdf.pdf\", \"https://www.nlbk.niedersachsen.de/download/164891/Test-pdf_3.pdf.pdf\"]}};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -528,
                1952
            ],
            "id": "25e8243d-2384-4be4-b08a-89a4a3b6c77c",
            "name": "Code1"
        },
        {
            "parameters": {
                "resource": "pdf",
                "operation": "merge",
                "inputType": "url",
                "urls": "={{ $json.paths }}"
            },
            "type": "CUSTOM.pdfToolkit",
            "typeVersion": 1,
            "position": [
                0,
                1952
            ],
            "id": "bbe5baf9-c18d-45e3-98cd-6dd3b6cf9227",
            "name": "Merge PDF1",
            "credentials": {
                "customJsApi": {
                    "id": "BFGbk0a71fKWY967",
                    "name": "CustomJS account"
                }
            }
        },
        {
            "parameters": {
                "resource": "data",
                "operation": "jsonSelect",
                "json": "{\"store\": {\"name\": \"Test Store\"}}",
                "path": "$.store.name"
            },
            "type": "CUSTOM.pdfToolkit",
            "typeVersion": 1,
            "position": [
                0,
                -176
            ],
            "id": "15448277-beb1-4862-83aa-b4f5512bd598",
            "name": "Advanced JSON Selector",
            "credentials": {
                "customJsApi": {
                    "id": "BFGbk0a71fKWY967",
                    "name": "CustomJS account"
                }
            }
        },
        {
            "parameters": {
                "resource": "data",
                "operation": "regex",
                "textData": "Hello world",
                "regexPattern": "world",
                "regexOperation": "extract"
            },
            "type": "CUSTOM.pdfToolkit",
            "typeVersion": 1,
            "position": [
                0,
                -352
            ],
            "id": "47eddb45-b1cf-48ed-bea4-d65e6095ba08",
            "name": "Advanced RegEx Tool",
            "credentials": {
                "customJsApi": {
                    "id": "BFGbk0a71fKWY967",
                    "name": "CustomJS account"
                }
            }
        },
        {
            "parameters": {
                "resource": "convert",
                "operation": "jsonToToon",
                "json": "{\"test\": \"data\"}"
            },
            "type": "CUSTOM.pdfToolkit",
            "typeVersion": 1,
            "position": [
                0,
                -512
            ],
            "id": "649a2e44-efd1-4c50-a675-31b8b364027f",
            "name": "JSON to TOON",
            "credentials": {
                "customJsApi": {
                    "id": "BFGbk0a71fKWY967",
                    "name": "CustomJS account"
                }
            }
        },
        {
            "parameters": {
                "resource": "convert",
                "operation": "toonToJson",
                "toon": "T: test data"
            },
            "type": "CUSTOM.pdfToolkit",
            "typeVersion": 1,
            "position": [
                0,
                -672
            ],
            "id": "7588c4f6-8f7f-4766-97b1-3a6535b86bf4",
            "name": "TOON to JSON",
            "credentials": {
                "customJsApi": {
                    "id": "BFGbk0a71fKWY967",
                    "name": "CustomJS account"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "HTML to PDF": {
            "main": [
                [
                    {
                        "node": "Extract Pages From PDF",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Convert PDF into PNG",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Convert PDF into Text",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Compress PDF file",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "When clicking ‘Test workflow’": {
            "main": [
                [
                    {
                        "node": "HTML to PDF",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Code",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Take a screenshot of a website",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Code1",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Advanced JSON Selector",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Advanced RegEx Tool",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "JSON to TOON",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "TOON to JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Pages From PDF": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Compress PDF file": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code": {
            "main": [
                [
                    {
                        "node": "Compress PDF file1",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Convert PDF into Text1",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Convert PDF into PNG1",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Extract Pages From PDF1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge": {
            "main": [
                [
                    {
                        "node": "Merge PDF",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code1": {
            "main": [
                [
                    {
                        "node": "Merge PDF1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "015fa432-6d68-4267-bdd3-78a3b81fe1e7",
    "meta": {
        "instanceId": "2234a18b00e1cffb78a3a5dac42b11142dff7d7366d0d9174545499f2d4b695d"
    },
    "id": "7bx7OktEc4mWjzyS",
    "tags": []
}